{{ define "main" }}
{{ partial "header.html" . }}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        {{ if eq .Data.Singular "category" }}
        <div class="card">
          <header class="card-header is-primary">
            <p class="card-header-title content is-medium">
              {{ i18n "categories" }}
            </p>
          </header>
          <div class="card-content">
            <div class="content is-medium">
              {{- $ctx := . -}}
              {{ range .Site.Taxonomies.categories.ByCount }}
              <div class="container" style="margin-bottom: 0.5rem">
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
                <span class="tag is-medium is-pulled-right">
                  {{ .Count }}
                </span>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        <br>
        {{ end }}

        {{ if eq .Data.Singular "tag" }}
        <div class="card">
          <header class="card-header">
            <p class="card-header-title content is-medium">
              {{ i18n "tags" }}
            </p>
          </header>
          <div class="card-content">
            <div class="field is-grouped is-grouped-multiline">
              {{- $ctx := . -}}
              {{ range .Site.Taxonomies.tags.ByCount }}
              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-medium" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
                  <span class="tag is-medium is-primary">
                    {{ .Count }}
                  </span>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="column is-2"></div>
    </div>
  </div>
</section>
{{ end }}
