{{ define "main" }}
{{- partial "header.html" . -}}
{{- $ctx := . -}}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2"></div>
      <div class="column is-8">
        {{ if eq .Data.Singular "category" }}
        <nav class="breadcrumb is-centered is-medium" aria-label="breadcrumbs">
          <ul>
            <li><a href={{"categories" | absURL}}>{{- i18n "categories" -}}</a></li>
            <li class="is-active"><a href="#">{{ .Data.Term }}</a></li>
          </ul>
        </nav>
        {{ else if eq .Data.Singular "tag" }}
        <nav class="breadcrumb is-centered is-medium" aria-label="breadcrumbs">
          <ul>
            <li><a href="{{"tags" | absURL }}">{{- i18n "tags" -}}</a></li>
            <li class="is-active"><a href="#">{{ .Data.Term }}</a></li>
          </ul>
        </nav>
        {{ end }}
        <div class="post-lists">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") (.Site.Params.termPaginate | default 10) }}
          {{ range $paginator.Pages }}
              <div class="box post-box">
                <div class="post-box-title">
                  <a href="{{.Permalink }}" class="title is-size-5">{{ .Title }}</a>
                </div>
                <div class="post-box-meta">
                  {{ .Date.Format "2006/01/02" }}
                  {{ with .Params.Categories }} ・
                  {{ range .}}
                  <span class="post-tag post-box-category">
                    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                  </span>
                  {{ end }}
                  {{ end }}
                </div>
                {{ with .Params.Tags }}
                <div class="post-box-tags">
                  {{ range .}}
                  <span class="post-tag post-box-tag">
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">#{{ . }}</a>
                  </span>
                  {{ end }}
                </div>
                {{ end }}
              </div>
          {{ end }}
          {{ partial "paginator.html" . }}
        </div>
      </div>
      <div class="column is-2"></div>
    </div>
  </div>
</section>
{{ end }}
