// bulma base
@import "../sass/utilities/_all";
@import "../sass/base/_all";
@import "../sass/elements/container";
@import "../sass/elements/content";
@import "../sass/elements/title";
@import "../sass/elements/tag";
@import "../sass/elements/box";
// @import "../sass/form/_all";
@import "../sass/components/breadcrumb";
@import "../sass/components/navbar";
@import "../sass/components/pagination";
@import "../sass/components/message";
@import "../sass/components/card";
@import "../sass/components/media";
@import "../sass/grid/_all";
@import "../sass/helpers/_all";
@import "../sass/layout/_all";

// my css

/* overwrite bulma */
.section, .hero-body {
  padding: 3rem 3rem;
}
.tag a {
  color: currentColor;
}
.pagination-link.is-current {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}

/* fixed footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main {
  flex: 1;
}
.footer {
  /* border-top: 2px solid #f5f5f5; */
  background: #fafafa;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
a {
  color: $primary;
}

/* link */
// u
*:hover > .anchorjs-link {
  transition: color .25s linear;
}

/* article content wrapper*/
.sidebar {
  height: 100%;
}
#toc {
  padding-left: 2rem;
}
.fake-text {
  color: transparent !important;
}
.shadow-hero {
  box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.25);
  position: relative;
  // z-index: 1;
}

/*syntax highlight label*/
.highlight {
  position: relative;
}
.chroma code:before {
  content: attr(data-lang);
  position: absolute;
  right: 0.5rem;
  top: 0rem;
  opacity: 0.5;
  font-weight: 700;
}

/*category and tags*/
.mytag {
  background: transparent !important;
  border: solid 2px;
  font-size: 1rem !important;
}
.mytag a {
  color: currentColor;
}
.post-tag {
  margin-right: 0.5em;
}
.post-tag a {
  color: currentColor;
}
.post-tag a:hover {
  text-decoration: underline;
}
.post-meta {
  opacity: 0.9;
}

/* posts */
.post-box {
  position: relative;
}
.post-box-tags {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
}
.post-box-tag {
  color: $primary;
  font-size: 0.9em;
}
.post-box-meta {
  padding-bottom: 0.1rem;
  opacity: 0.8;
  font-size: 0.9rem;
}
#back-to-top {
  background: $primary;
}
