// bulma customize
@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $archblue: #1793d0;

{{ if .Site.Params.primaryColor }}
$primary: lighten({{ .Site.Params.primaryColor }}, 5);
{{end}}

// Import only what you need from Bulma

@import "../sass/dark/variables";


// should I override night link color to primary ?
{{ if .Site.Params.primaryColor }}
$link: $primary;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 5);
$link-focus-border: $grey-light;
$pagination-color: $link;
$pagination-border-color: $border;
{{end}}

@import "./common.scss";

@import "../sass/dark/overrides";

// dark override
.footer {
  background: #282f2f;
}
.counter-tag {
  border-left: 1px solid #282f2f;
}
.tag:not(body) {
  background-color: rgba($black-bis, 0.2);
}