// bulma customize
@charset "utf-8";

@import "./functions";
// Set your brand colors
{{ if .Site.Params.primaryColor }}
  $primary: {{ .Site.Params.primaryColor }};
  $bg-is-light: luminance($primary) > 0.55;

  :root {
    --bulma-primary: {{ .Site.Params.primaryColor }};
    --bulma-primary-h: #{hue($primary)};
    --bulma-primary-s: #{saturation($primary)};
    --bulma-primary-l: #{lightness($primary)};

    @if $bg-is-light {
      --bulma-primary-invert-l: var(--bulma-primary-05-l);
    } @else {
      --bulma-primary-invert-l: var(--bulma-primary-100-l);
    }
  }
{{ end }}

// custom css
@import "./custom";

/* hero looks like steam deck */
{{ if .Site.Params.heroSteamDeck }}
@import "./steamdeck"
{{ end }}
