// bulma customize
@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $archblue: #1793d0;

{{ if .Site.Params.primaryColor }}
$primary: {{ .Site.Params.primaryColor }};
{{end}}

// Update Bulma's global variables
// can define primary color in theme config

@import "./common.scss";
