/* TOC */
.post-toc li {
  list-style-type: none;
  padding: 0.1em;
}
.toc {
  overflow-y: auto;
}
.toc > .toc-list {
  overflow: hidden;
  position: relative;

  li {
    list-style: none;
  }
}
.toc-list {
  margin: 0;
  padding-left: 1rem
}
a.toc-link {
  color: currentColor;
}
.is-collapsible {
  overflow: hidden;
  transition: all 300ms ease-in-out
}
.is-collapsed {
  max-height: 0
}
.is-position-fixed {
  position: fixed !important;
  top: 3rem
}
.is-active-link {
  font-weight: 700
}
a.is-active-link {
  color: var(--bulma-link-text);
}
.toc-link::before {
  background-color: #EEE;
  content: ' ';
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px
}
