<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
  <div id="main">
    {{- partial "header.html" . -}}
    <section class="section">
    {{- block "archives-main" . }}{{- end }}
    </section>
  </div>
  {{- partial "footer.html" . -}}
  {{- partial "backtotop.html" . -}}
  {{- block "script" . }}{{- end }}
</body>

</html>

{{ define "archives-main" }}
<div class="container">
  <div class="box content">
    {{ $count := len (where (where .Site.Pages "Type" "post") "Kind" "page") }}
    <p>{{ i18n "archives" (dict "Count" $count) }}</p>
    <div class="post-archive">
      {{ range (where (where .Site.Pages "Type" "post") "Kind" "page").GroupByDate "2006" }}
      <h2>{{ .Key }}</h2>
      <ul class="listing">
        {{ range .Pages }}
        <li>
          <span class="date">{{ .Date.Format "2006/01/02" }} </span>
          <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
