<head>
  {{- if .Site.Params.darkToggle -}}
  <script>const t=localStorage.getItem('bulma-theme'); if (t !== null) { document.documentElement.setAttribute('data-theme', t);} </script>
  {{- end -}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{- if .Site.Params.primaryColor -}}
  <meta name="msapplication-TileColor" content="{{.Site.Params.primaryColor}}">
  <meta name="theme-color" content="{{.Site.Params.primaryColor}}">
  {{- end -}}
  {{- if .IsHome -}}
  <title>{{ .Site.Title }} {{- if .Site.Params.subtitle }} | {{ .Site.Params.subtitle }} {{- end -}}</title>
  <meta property="og:title" content="{{ .Site.Title }} {{- if .Site.Params.subtitle }} | {{ .Site.Params.subtitle }} {{- end -}}">
  <meta property="og:type" content="website">
  {{ if .Site.Params.keywords }}
  <meta name="keywords" content="{{.Site.Params.keywords}}">
  {{ end }}
  {{ if .Site.Params.description }}
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ end }}
  {{- else -}}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
  <meta property="og:type" content="article">
  {{ with .Params.date }}
  <meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05+08:00" }}">
  {{ end }}
  {{ with .Params.lastmod }}
  <meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05+08:00" }}">
  {{ end }}
  <meta name="keywords" content="{{ if .Keywords }}{{ .Keywords }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Title }}{{ end }}">
  {{- end -}}
  {{ if or .Params.author site.Params.author -}}
  <meta name="author" content="{{ (partial "author.html" . ) }}">
  {{- end }}
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
  {{- $options := (dict "outputStyle" "compressed") }}
  {{- $hulgaScss := resources.Get "css/hulga.scss" }}
  {{- $bulmaCss := resources.Get "css/bulma-no-dark-mode.min.css" }}
  {{- if .Site.Params.darkMedia }}
    {{- $bulmaCss = resources.Get "css/bulma.css" }}
  {{- end }}
  {{- if .Site.Params.postcss }}
    {{- $bulma := $bulmaCss | postCSS | resources.Minify | resources.PostProcess }}
    <link rel="stylesheet" type="text/css" href="{{ $bulma.RelPermalink }}">
  {{- else }}
    {{- $bulma := $bulmaCss | resources.Minify }}
    <link rel="stylesheet" type="text/css" href="{{ $bulma.RelPermalink }}">
  {{- end }}
  {{- $hulga := $hulgaScss | resources.ExecuteAsTemplate "css/hulga.scss" . | css.Sass $options | resources.Minify }}
  <link rel="stylesheet" type="text/css" href="{{ $hulga.RelPermalink }}">
  {{- if .Site.Params.pwa }}
  <link rel="manifest" href="/manifest.json">
  {{- end }}
</head>
