<link id="hlcss" rel="stylesheet" type="text/css">

<script>
  function addCss(url) {
    var link = document.getElementById('hlcss');
    link.href = url;
  }
  {{ if .Site.Params.darkMedia }}
  var darkcss = {{"css/monokai.css" | absURL}}
  {{ else }}
  var darkcss = {{"css/monokailight.css" | absURL}}
  {{ end }}
  var lightcss = {{"css/monokailight.css" | absURL}}
  // load syntax css
  if (window.matchMedia('(prefers-color-scheme)').media === 'not all') {
    // alert('Browser doesn\'t support dark mode');
    addCss(lightcss);
  } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    addCss(darkcss);
  } else {
    addCss(lightcss);
  }
  window.matchMedia("(prefers-color-scheme: dark)").addListener(
    e => e.matches && addCss(darkcss)
  );
  window.matchMedia("(prefers-color-scheme: light)").addListener(
    e => e.matches && addCss(lightcss)
  );
</script>
