{{- if .Site.Params.noCDN -}}
<link rel="stylesheet" href={{"css/katex.min.css" | absURL}}>
<script defer src={{"js/katex.min.js" | absURL}}></script>
<script defer src={{ "js/auto-render.min.js" | absURL }}></script>
{{- else -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha256-tn6hZ2YGDv0w1/DaFL4MiUoXuAVclrtFZs13ch3TB9M=" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha256-1qhJwAgsSPVSSjlQVTewHS49eaoAbOz651dveUANVBI=" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha256-oEuQVLwO5Ii6subChtLbrY5gx7NDRU+UJJ9jvvau+FI=" crossorigin="anonymous"></script>
{{- end -}}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      // ...options...
      delimiters: [{
        left: "$$",
        right: "$$",
        display: true
      },
      {
        left: "\\[",
        right: "\\]",
        display: true
      },
      {
        left: "$",
        right: "$",
        display: false
      },
      {
        left: "\\(",
        right: "\\)",
        display: false
      }
      ]

    });
  });
</script>