<link rel="stylesheet" href={{"css/katex.min.css" | absURL}}>
<script defer src={{"js/katex.min.js" | absURL}}></script>
<script defer src={{ "js/auto-render.min.js" | absURL }}></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      // ...options...
      delimiters: [{
          left: "$$",
          right: "$$",
          display: true
        },
        {
          left: "\\[",
          right: "\\]",
          display: true
        },
        {
          left: "$",
          right: "$",
          display: false
        },
        {
          left: "\\(",
          right: "\\)",
          display: false
        }
      ]

    });
  });
</script>
