<nav class="navbar is-primary" role="navigation" aria-label="dropdown navigation">
  <div class="container">
    <div class="navbar-brand">
      {{- $home := .Site.GetPage "/" -}}
      <a class="navbar-item {{if ne .Kind "page"}}is-invisible{{end}}" href="{{ $home.RelPermalink }}">
        {{ .Site.Title }}
      </a>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
      {{- if .Site.Params.darkToggle -}}
      {{- partial "dark.html" -}}
      {{- end -}}
 
      {{ range .Site.Menus.main.ByWeight -}}
      {{ .Pre }}
        <a class="navbar-item" href="{{ .URL }}" title="{{ .Identifier }}">{{- .Name -}}</a>
      {{ .Post }}
      {{- end }}
      </div>
    </div>
  </div>
</nav>
