<script type="text/javascript">
  {{- if .Site.Params.darkToggle -}}
  const rel = document.documentElement;
  const menus = document.querySelectorAll('.theme-toggle');
  const setTheme = (mode) => {
    const curr = mode || localStorage.getItem('bulma-theme') || 'system';
    if (curr === 'light' || curr === 'dark') {
      localStorage.setItem('bulma-theme', curr);
      rel.setAttribute("data-theme", curr);
    } else {
      localStorage.removeItem("bulma-theme");
      rel.removeAttribute("data-theme");
    }
    menus.forEach(el => {
      const m = el.dataset.value;
      if (m === curr) {
        el.classList.add("is-active");
      } else {
        el.classList.remove("is-active");
      }
    });
  };
  {{- end -}}
  document.addEventListener('DOMContentLoaded', () => {
    const burgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    burgers.forEach(el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
    {{- if .Site.Params.darkToggle -}}
    setTheme();
    menus.forEach( el => {
      el.addEventListener('click', () => {
        const mode = el.dataset.value;
        setTheme(mode);
      });
    });
    {{- end -}}
  });
</script>
