{{ partial "post-header.html" . }}
<section class="section">
  <div class="container">
    <div class="columns">
      {{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) }}
      <div class="column is-1 is-hidden-mobile"></div>
      <div class="column is-8">
      {{ else }}
      <div class="column is-three-fifths is-offset-one-fifth">
      {{ end }}
        <article class="content" id="post-content">
          {{- .Content -}}
        </article>
      </div>
      {{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) }}
      <div class="column is-hidden-mobile">
        <div class="sidebar" id="toc">
          {{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) }}
          <div class="post post-toc" id="post-toc">
            <!-- render by tocbot -->
          </div>
          {{- end }}
        </div>
      </div>
      {{ end }}
      </div>
    </div>
  </div>
</section>
