<section class="hero is-primary shadow-hero {{ if .Site.Params.heroBold }} is-bold {{ end }}">
  <div class="hero-head">
    {{ partial "nav.html" . }}
  </div>
  <div class="hero-body">
    <header class="container has-text-centered" {{ if not .Site.Params.noPagefind -}}data-pagefind-body{{- end -}}>
      <h1 class="title post-title is-spaced">
        {{ .Title }}
      </h1>
      <h2 class="subtitle">
        {{- if isset .Params "date" -}}
        <time>{{ .Date.Format "2006/01/02" }}</time>
        {{- end -}}
        {{- $ctx := . -}}
        {{ with (.GetTerms "categories") }} ・
          {{- range . -}}
            <span class="post-cat mr-2">
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </span>
          {{- end -}}
        {{ end }}
        {{- if eq .Type "archives" -}}
        {{- $count := len (where (where .Site.Pages "Type" "post") "Kind" "page") -}}
        {{ i18n "archives_count" (dict "Count" $count) }}
        {{- end -}}
      </h2>
      {{ with (.GetTerms "tags") }}
      <div>
        {{- range . }}
        <span class="post-tag mr-2 post-cat">
          <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
        </span>
        {{- end }}
      </div>
      {{ end }}
    </header>
  </div>
</section>
