<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
  <div id="main">
    <!-- {{- partial "nav.html" . -}} -->
    <!-- {{- partial "header.html" . -}} -->
    {{- block "404-main" . }}{{- end }}
  </div>
  <!-- {{- partial "footer.html" . -}} -->
  <!-- {{- partial "backtotop.html" . -}} -->
  <!-- {{- block "script" . }}{{- end }} -->
</body>

</html>
{{ define "404-main" }}
<article class="message is-primary is-large">
  <div class="message-header">
    <p>404 Page Not Found</p>
  </div>
  <div class="message-body">
    没找到该页面，请检查 url 或 <a href="/">返回首页</a>
  </div>
</article>
<style>
  .subtitle a {
    text-decoration: underline;
  }
</style>
{{ end }}
